streamlit
plotly
pandas
matplotlib
numpy

    
# else:
#         # os.chdir(r"D:\Study\Machine Learning Projects\Plotly Dashboard")
#         df = pd.read_csv('Sample - Superstore.csv' , encoding = 'ISO-8859-1')